<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Poll</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
  </head>

  <body>
    <fieldset>
	     <legend>{{ question.question_text }}</legend>
	      <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
		     <label for="choice{{ forloop.counter }}">
			        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
			              {{ choice.choice_text }}
		     </label>
        {% endfor %}
		<input type="submit" name="submit" id="submit" value="Vote" />
		<input type="hidden" name="id" value="form1" />
		<input type="hidden" name="MM_insert" value="form1" />
	</form>
  </fieldset>
  <button type="button" onclick="window.location.href = 'http://127.0.0.1:8000';">Back to homepage</button>
  <button type="button" onclick="window.location.href = 'http://127.0.0.1:8000/admin/';">Admin page</button>
</body>
</html>
